@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
  --space-s: 0.75rem;
  --space-m: 1.25rem;
  --space-l: 2rem;
  --space-xl: 3.25rem;
  --space-xxl: 5.25rem;

  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 2rem;
  --font-size-xl: 3.25rem;

  --color-dark: #33414f;
  --color-light: #ffffff;
  --color-accent: #ffdd03;
  --color-accent-dark: #dec000;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Color themes */

.theme-light {
  background-color: var(--color-light);
  color: var(--color-dark);
}
.theme-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* Layout */

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.stack {
  display: flex;
  flex-direction: column;
}
.stack-s {
  gap: var(--space-s);
}
.stack-m {
  gap: var(--space-m);
}
.stack-l {
  gap: var(--space-l);
}
.stack-xl {
  gap: var(--space-xl);
}
.stack-xxl {
  gap: var(--space-xxl);
}

/* Typography */

.title-s {
  font-size: var(--font-size-s);
}
.title-m {
  font-size: var(--font-size-m);
}
.title-l {
  font-size: var(--font-size-l);
}
.title-xl {
  font-size: var(--font-size-xl);
}
